<div class="header" id="header">
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <ul class="article_list">
        <li>
          <img src="https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg"
            alt="header image" class="fakeimg single-post-image"></img>
          <div>
            <a href="/single-post" class="article_list_title">PLACEHOLDER TITLE HEADING</a>
            <div class="article_list_date">May 3, 2019</div>
          </div>
        </li>
        <li>
          <img src="https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg"
            alt="header image" class="fakeimg single-post-image"></img>
          <div>
            <a href="/single-post" class="article_list_title">PLACEHOLDER TITLE HEADING</a>
            <div class="article_list_date">May 1, 2019</div>
          </div>
        </li>
        <li>
          <img src="https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg"
            alt="header image" class="fakeimg single-post-image"></img>
          <div>
            <a href="/single-post" class="article_list_title">PLACEHOLDER TITLE HEADING</a>
            <div class="article_list_date">Apr 28, 2019</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card">
      <ul class="article_list">
        {{#each blogs}}
        <li>
          <img src="{{header_image}}" alt="header image" class="fakeimg single-post-image"></img>
          <div>
            <a href="/content/{{post_id}}" class="article_list_title">{{title}}</a>

          </div>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>
  <div class="rightcolumn" id="sidebar"></div>
</div>

<div class="footer" id="footer"></div>

<script src="/js/index.js"></script>
{{!-- <script>onload();</script> --}}