
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>codeblog</title>
</head>
<div class="header" id="header">
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>PLACEHOLDER TITLE HEADING</h2>
      <h5>PALCGHOLDER Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>PLACEHOLDER some text..</p>
    </div>
    {{#each blog-post}}
    <div class="card">
      <h2>{{title}} TITLE HEADING</h2>
      <h5>{{post-date}}Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>{{post-content}}Some text..</p>
    </div>
    {{/each}}
  </div>
  <div class="rightcolumn" id="sidebar"></div>
</div>

<div class="footer" id="footer"></div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

