
<div class="header" id="header"></div>
<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2 class="single-post-title">{{this.title}}</h2>
        <span class="single-post-meta">By {{this.author}}</span>
        <img class="post-header-image" src="{{this.header_image}}" alt="header image">
        <div class="single-post-content">
          {{{this.content}}}
          </div>
      </div>
        {{/each}}
    </div>
  <div class="rightcolumn" id="sidebar"></div>
</div>
</div>

<div class="footer" id="footer"></div>

