<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/styles/styles.css">
    <title>codeblog</title>
</head>
<div class="header">
  <a href="/"><img src="../public/images/codeblog-logo.png" height= "70px" alt="codeblog logo"></a>
</div>
<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>{{title}}</h2>
        <h5>{{post-date}}</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>{{post-content}}</p>
      </div>
    </div>

<div class="rightcolumn">
    <div class="card">
      <h2><a href="/submit"> Submit a Post</a></h2>
    </div>
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Recent Posts</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
  </div>
</div>
</div>

<div class="footer" id="footer">
  <h2>Footer</h2>
  <div>
<a href="/">Home</a> | <a href="/submit">Submit</a>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

