<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>codeblog</title>
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=40gzx6qwvq9wfhaxp6mu7g0a7z3hjfajrfepvktz674y3pbf"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
        });
    </script>
</head>
<div class="header" id="header"></div>
<div class="row">
    <div class="fullcolumn">
      <div class="card">
          <h2 style="font-family: 'IBM Plex Sans', sans-serif;">Create A Post</h2>
        <form>
            <div>
                <label class="submit-form-label" for="title">Title:</label>
                <input type="text" class="submit-form-input" id="title-input" name="post-title">
            </div>
            <div>
                <label class="submit-form-label"for="header-image">Header Image URL:</label>
                <input type="text" class="submit-form-input" id="header-image-input" name="header-image">
            </div>
            <div>
                <label class="submit-form-label" for="post-content">Content:</label>
                <textarea id="post-content-input" class="submit-form-input" name="post-content"></textarea>
            </div>
            <div class="submit-post-button">
                <button type="submit" value="Submit" class="submit-post-button" id="submitBtn">Submit</button>
            </div>
        </form>
      </div>
    </div>

</div>

<div class="footer" id="footer"></div>
{{!-- 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
 --}}
 
{{!-- <script>onload();</script> --}}